[submodule "PyTorchRL"]
	path = PyTorchRL
	url = git@github.com:thoward27/PyTorchRL.git
[submodule "KerasRL"]
	path = KerasRL
	url = git@github.com:thoward27/KerasRL.git
[submodule "Benchmarks"]
	path = Benchmarks
	url = git@github.com:thoward27/Benchmarks.git
